version: "3.9"

services:
  app:
    container_name: node-app
    build:
      context: .
      dockerfile: saransh7890/cyrpto-mlm:latest
    ports:
      - "8080:8080"
    restart: always
    env_file:
      - .env